@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;800&family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

:root {
  --white: #fff;
  --whitesmoke: #f9f9f9;
  --light-grey: #1db954;
  --deep-grey: #5bc981;
  --black: #000000;
  --blue: #1b77f3;
  --red: #cf3c3f;
  --green_background_gradiente: linear-gradient(
    47.14deg,
    #186734 -3.17%,
    #1db954 45.25%,
    rgba(30, 215, 96, 0.58) 79.97%
  );
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: 100;
  font-size: 0.9rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 45vw;
  min-height: 100vh;
  background: var(--green_background_gradiente);
  padding: clamp(35px, 8%, 70px);
}

.logo {
  margin-top: 20px;
  margin-bottom: 60px;
}

.login_title {
  font-weight: 800;
  font-size: 2em;
}

.login_label {
  display: block;
  width: 70%;
  margin-bottom: -10px;
  margin-top: 8vh;
}

.input {
  width: 100%;
  background-color: transparent;
  border: solid 1px var(--white);
  border-radius: 40px;
  outline: none;
  font-size: 0.9em;
  padding: 25px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

.input:focus {
  background-color: var(--deep-grey);
  border: 2px solid var(--white);
}

::placeholder {
  color: var(--white);
  cursor: text;
  font: 0.7rem;
}

.login_icons {
  display: flex;
  gap: 10px;
  margin-top: 5vh;
  width: 70%;
}

.icons_button {
  width: 33.33%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_label--checkbox {
  margin-top: 4vh;
  gap: 0.2vw;
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: 100;
  font-size: 0.9em;
}

.password_forget {
  margin-left: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login_button {
  display: flex;
  margin-top: 8vh;
  background-color: #1db954;
  border: none;
  border-radius: 40px;
  padding: 15px 60px;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.15s;
  margin-bottom: 2vh;
 
}

.login_button:hover {
  background-color: var(--deep-grey);
  
}

.link_signup{
  border-bottom: 1px solid var(--white);
}